<h2 mat-dialog-title>Cadastrar nova tarefa</h2>
<mat-dialog-content>
    <form [formGroup]="form" fxLayout="column" fxLayoutAlign=" stretch">
        <mat-form-field>
            <input #titleRef formControlName="title" matInput placeholder="Título" autocomplete="off">
            <mat-error *ngIf="form.get('title').hasError('required')">Campo obrigatório</mat-error>
            <mat-error *ngIf="titleRef.value.length > limitCaracteresEnum.short">Limite de caracteres: {{titleRef.value.length}}/{{limitCaracteresEnum.short}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea formControlName="description" matInput placeholder="Descrição"></textarea>
            <mat-error *ngIf="titleRef.value.length > limitCaracteresEnum.long">Limite de caracteres: {{titleRef.value.length}}/{{limitCaracteresEnum.long}}</mat-error>
        </mat-form-field>
    </form>
    <mat-progress-bar *ngIf="isLoading" mode="buffer"></mat-progress-bar>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button [disabled]="isLoading" mat-button mat-dialog-close>CANCELAR</button>
    <button [disabled]="isLoading || form.invalid" mat-button (click)="save()">SALVAR</button>
</mat-dialog-actions>